div.container.unselectable(ng-controller="GridCtrl")
	div.itemLayer
		div.row(ng-repeat="row in rows")
			div.cell(ng-repeat="col in cols")
				{{grid.item([row,col])}}
	canvas.canvasLayer(sf-path-canvas, width="300", height="300", style="border:1px solid #000000;")
	div.hotZoneLayer
		div.row(ng-repeat="row in rows")
			div.hotZone(sf-cell, ng-repeat="col in cols")