div.container.unselectable(ng-controller="GridCtrl")
	table.grid(sf-grid)
		tr(ng-repeat="row in rows")
			td.cell(ng-repeat="col in cols")
				div.hotZone(sf-cell) 
					{{grid.item([row,col])}}
	canvas.shadow(sf-path-canvas, width="300", height="300", style="border:1px solid #000000;")